<div class="container my-5">
  <form action="" method="post">
    <div class="form-group">
      <label for="myname">お名前</label>
      <input class="form-control" type="text" name="myname" id="myname">
    </div>
</form>




























</div>