<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap</title>
</head>

<style>
.title{
  background-color:#f99;
}
.box1{
  background-color: bisque;
}
.box2{
  background-color: darkkhaki;
}
.box3{
  background-color: red;
}
</style>

<body>
  
  <div class="container"> 
    <div class="title row">  
      <h1 class="my-5">Hello,Bootstrap!</h1>
      <p>ここからBootstrapの学習を始めよう！</p>
    </div>

    <div class="row">
    <div class ="box1 col-3">box1</div>
    <div class ="box2 col-7">box2</div>
    <div class ="box3 col-2">box3</div>
    </div>
    <div class="row">
      <div class ="box1 col-3 offset-2">box1</div>
      <div class ="box2 col-7">box2</div>
    </div>
  
  </div>

</body>
</html>
